/*
Styles for draw.html
Written by Jamie Shiao
References:
    - links go here

*/

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

canvas {
    cursor: crosshair;
}