.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between; /* This will push items to opposite ends */
    padding: 20px 40px;
    border-bottom: 1px solid black;
    background-color: #dfdfdf;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  .navbar-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 24px;
    font-weight: 700;
    color: #333;
    letter-spacing: 0.5px;
  }
  
  .navbar-title a {
    text-decoration: none;
    color: inherit;
  }
  
  /* .navbar-title span {
    color: #4a76fd;Highlight the "Pixel" part
  } */
  
  .login-link {
    margin-left: auto; /* This reinforces pushing the login to the right */
  }
  
  .login-link a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }

  .login-link button{
    font-family:'Courier New', Courier, monospace;
    border-radius: 0px;
    border-color: 1px solid navy;
    padding: 7px 20px;
  }

  .login-link button:hover{
    background-color: #333;
    color: white;
  }
  
  /* Add this in your HTML head to import the font */
  /* <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet"> */