.notifications-container {
    border: 1px solid forestgreen;
    border-radius: 0px;
    padding: 0px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 80%;
    background-color: #f8f9fa;
    font-family: 'Courier New', Courier, monospace;
  }

  .notifications-title {
    padding: 10px;
    background-color: #729e7c;
    border-bottom: forestgreen;
  }
  
  .notifications-list{
    padding: 20px;
  }